@import "tailwindcss";

html,
body {
  height: 100%;
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  /* html.dark{
    --background: #0a0a0a;
    --foreground: #ededed; */
  /* }
  html:not(.dark) {
    --background: #ededed;
    --foreground: #0a0a0a;
  } */
}



/* html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}




body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.home,
.loginHome {
  position: relative;
  background-image: url('/wallpaper.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* Overlay */
.home::before,
.loginHome::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.50);
  /* darkness */
  backdrop-filter: blur(4px);
  /* blur */
  z-index: 1;
}

/* Content stays above overlay */
.home>*,
.loginHome>* {
  /* position: relative; */
  z-index: 2;
}

/* Mobile */
@media (max-width: 768px) {
  .home,.loginHome {
    background-image: url('/wallpaper2.jpg');


  }

  .home::before, .loginHome::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.50);
    /* darkness */
    backdrop-filter: blur(3px);
    /* blur */
    z-index: 1;
  }
}

.loginHome::before{
  /* background-image: url('/wallpaper2.jpg'); */
  background: rgba(0, 0, 0, 0.50);
}